.seccion-proyectos{ 
    color: white;
    width: 90%;
    max-width: 1250px;
    margin: auto;
    z-index: 1;
    scroll-margin-top: 110px;
    scroll-snap-align: start;
}

.seccion-proyectos h2{
    text-align: center;
    font-size: 5.3rem;
    margin-bottom: 30px;
    margin-top: 0;
}

.contenedor-proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    width: 90%;
    margin: auto;
}

.contenedor-p{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(24, 24, 24);
    padding: 15px;
}

.contenedor-p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-des{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 300;
    color: rgb(143, 143, 143);
}

.contenedor-p .titulo-proyecto{
    font-size: 2.5rem;
    margin: 0;
    font-weight: 500;
    color: rgb(184, 184, 184);
}

.contenedor-p .lenguajes-utilizados{
    font-size: 1.8rem;
    margin: 0;
    font-weight: 300;
    color: rgb(143, 143, 143);
}


.vermas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
    color: rgb(143, 143, 143);
}

.texto:hover{
    color: rgb(184, 184, 184);
    cursor: pointer;
}

.vermas svg{
    width: 0%;
    position: relative;
    top: 2px;
    transition: all 0.5s ease;
}

.texto:hover + svg{
    width: 20px;
    animation: aparecer 0.5s ease;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.img-hover{
    position: relative;
}

.proyectos-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    & a{
        background-color: black;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-size: 2.5rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.5s ease;
    }
}