.seccion-exp {
  color: white;
  width: 90%;
  max-width: 1250px;
  min-height: 100vh;
  margin: auto;
  scroll-margin-top: 110px;
  scroll-snap-align: start;
}

.seccion-exp h2 {
  text-align: center;
  font-size: 5.3rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.contenedor-experiencia {
  display: grid;
  gap: 30px;
  width: 95%;
  margin: auto;
}

.logo {
  width: 79px;
  height: 79px;
  object-fit: contain;
}

.js {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  margin-top: 23px;
}

.seccion-exp .conjunto-experiencia {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seccion-exp .conjunto-experiencia .imagen-texto {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.seccion-exp .imagen-texto .parte-izquierda {
  display: flex;
  align-items: end;
  gap: 5px;
}

.seccion-exp .imagen-texto .parte-izquierda .años {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
  color: rgb(143, 143, 143);
}

.seccion-exp .imagen-texto .porcentaje {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.seccion-exp .barra-progreso {
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
}

.seccion-exp .barra-progreso .progreso {
  height: 100%;
  background: rgb(49, 0, 56);
  border-radius: 8px 10px 10px 8px;
  width: 0%;
}

@media (width >= 768px){
  .seccion-exp{
    width: 100%;
    scroll-margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor-experiencia{
    margin: 0;
  }

  .seccion-exp h2{
    font-size: 7rem;
  }

  .logo{
    width: 90px;
    height: 90px;
  }

  .js{
    width: 70px;
    height: 70px;
    margin-top: 30px;
  }

  .seccion-exp .imagen-texto .parte-izquierda .años{
    font-size: 2.5rem;
  }

  .seccion-exp .imagen-texto .porcentaje{
    font-size: 3rem;
  }
}

@media (width >= 1420px){
  .seccion-exp{
    min-height: 75vh;
    scroll-margin-top: 90px;
  }

  .contenedor-experiencia{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
}
