.seccion-sobreMi{
    color: white;
    width: 90%;
    max-width: 1250px;
    margin: auto;
    scroll-margin-top: 110px;
}

.seccion-sobreMi h2{
    font-size: 5.3rem;
    height: fit-content;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.seccion-sobreMi .primer-parrafo{
    font-size: 1.8rem;
    letter-spacing: 3px;
    line-height: 23px;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
}

.seccion-sobreMi .segundo-parrafo{
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    line-height: 23px;
}

.seccion-sobreMi .boton-descarga-CV{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.boton-descarga-CV:hover{
    background: white;
    color: black;
    font-weight: 700;
    transform: scale(1.1);
    transition: transform .5s ease-out;
}

.boton-descarga-CV:hover svg{
    color: black;
    font-weight: 700;
    transform: scale(1.1);
    transition: transform .5s ease-out;
}

svg{
    color: white;
    width: 20px;
}

svg-hover{
    color: black;
    width: 20px;
}